:root {
  --text-color: #434455;
  --titles-color: #2e2f42;
  --socialmain-color: #4d5ae5;
  --linkhover-color: #404bbf;
  --linkfooter-color: #31d0aa;
  --white-background-color: #fff;
  --light-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background: var(--white-background-color);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}
button {
  cursor: pointer;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--white-background-color);
  letter-spacing: 0.04em;
  line-height: 1.5;
  border-radius: 4px;
  border: none;
}

img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* =======================  HEADER- ========================================== */
.header-main {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: var(--white-background-color);
  width: 100%;
}
.header-main .container {
  display: flex;
}
.header-cont-nav {
  display: flex;
  align-items: center;
}
.header-cont-nav-logo {
  font-family: "Raleway", sans-serif;
  color: var(--socialmain-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.accent {
  color: var(--titles-color);
}

/*============= NAVIGATION MENU ============== */
.header-cont-nav-menu {
  font-weight: 500;
  list-style-type: none;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
  display: block;
}

.current {
  position: relative;
  color: #404bbf;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*======================= CONTACTS / ADDRESS ======================  */
.address-cont {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: flex-end;
}

.address-list {
  list-style: none;
  font-style: normal;
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.address-link:hover,
.address-link:focus {
  color: var(--linkhover-color);
}
.address-link {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============ HERO SECTION ================================== */
.first-section {
  max-width: 1440px;
  padding: 188px 0;
  margin: auto;
  background-color: var(--titles-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section.jpg);
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
}
.first-section .container {
  padding: 0 301px;
}
.order-request-title {
  max-width: 496px;
  color: var(--white-background-color);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  margin: 0 auto 48px auto;
}
.form-btn:hover,
.form-btn:focus,
.order-request-button:hover,
.order-request-button:focus {
  background-color: var(--linkhover-color);
}
.order-request-button {
  margin: 0 auto;
  min-width: 169px;
}

.order-request-button {
  background-color: var(--socialmain-color);
  display: block;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ==========ORDER REQUEST FORM======================== */
.close-icon {
  fill: var(--titles-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--white-background-color);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.form-input::placeholder,
label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.input-block {
  margin-bottom: 16px;
}

.input-area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.form-input:focus,
.input-area:focus {
  border-color: #4d5ae5;
}
.svg-form:focus-within {
  fill: var(--linkhover-color);
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-cont {
  margin-bottom: 8px;
}
.label-form-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: not-allowed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.checkbox-real {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.checkbox-icon {
  fill: var(--white-background-color);
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  position: relative;
}
.checkbox-container {
  margin-bottom: 24px;
  position: relative;
}

.checkbox-real:checked + .label-checkbox .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  color: var(--socialmain-color);
}
.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.svg-form {
  fill: #434455;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap:focus-within .svg-form {
  fill: rgba(77, 90, 229, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: var(--linkhover-color);
}

.form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================ / HERO SECTION &  /ORDER REQUEST FORM ====================== */

/* =================  SECTION BENEFITS /SOLUTIONS ======================  */
.section {
  padding: 120px 0;
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--lightslate, #8e8f99);
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.descrip-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  text-align: left;
}
.descrip-list-feature {
  width: calc((100% - 72px) / 4);
}

.descrip-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.descrip-list-text {
  letter-spacing: 0.02em;
}
/* ================= OUR TEAM SECTION ====================== */
.section-team {
  background: #f4f4fd;
}
.ourteam-cont-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
}
.ourteam-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 0 auto;
}
.ourteam-list-card-text {
  padding: 32px 0;
  text-align: center;
}

.ourteam-list-card {
  width: calc((100% - 24 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.ourteam-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.ourteam-list-rank {
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* ============ SOCIAL LINKS===============  */
.social-links-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list-item {
  width: 40px;
  height: 40px;
}

.icon {
  fill: var(--light-color);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--linkhover-color);
  cursor: pointer;
}

/*================= OUR PORTFOLIO SECTION ================= */
.portfolio-cont-title {
  color: var(--titles-color);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-list-card:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.portfolio-list-card {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow-y: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-cont {
  position: relative;
  overflow: hidden;
}

/* =================== OVERLAY FOR PORTFOLIO====================  */
.portfolio-list-card:hover .overlay,
.portfolio-list-card:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  padding: 40px 32px;
  background-color: var(--socialmain-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay p {
  margin: 40px 32px 0 32px;
  color: var(--light-color);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list-card-descr {
  background-color: var(--white-background-color);
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
}

.portfolio-list-card-title {
  color: var(--titles-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.portfolio-list-card-text {
  letter-spacing: 0.02em;
}

/*  =====================FOOTER ============================ */
.footer-section {
  background: var(--titles-color);
  padding: 100px 0;
  display: flex;
  margin: 0;
}
.footer-section .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-cont {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: var(--socialmain-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer {
  color: var(--light-color);
}
.footer-text {
  width: 264px;
  color: var(--light-color);
  letter-spacing: 0.02em;
}
/* ============ FOOTER SOCIAL MEDIA ===============  */
.subscribe-title,
.social-media-text {
  font-size: 16px;
  color: var(--white-background-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
}

.social-links-list-footer {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
.social-links-list-item {
  width: 40px;
  height: 40px;
}
.social-link-foot {
  width: 100%;
  height: 100%;
  background-color: var(--socialmain-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-foot:hover,
.social-link-foot:focus {
  background-color: var(--linkfooter-color);
}
.icon-footer {
  fill: var(--light-color);
}
.footer-social-media {
  margin-right: 80px;
}
/* ===============================SUBSCRIBE SECTION FOOTER  */
.subscribe-container {
  display: flex;
  flex-direction: column;
}

.input-btn-block {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.input-subscribe {
  width: 264px;
  height: 40px;
  color: var(--white-background-color);
  font-family: inherit;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid var(--white-background-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  transition-property: border;
  margin-bottom: 16px;
}

.input-subscribe:focus-within {
  border: 1px solid var(--linkhover-color);
}

.input-subscribe::placeholder {
  font-size: 12px;
  line-height: 2;
  color: var(--white-background-color);
  letter-spacing: 0.04em;
}

.subscribe-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  background-color: var(--socialmain-color);
  padding: 8px 24px;
  border: none;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--linkhover-color);
}

.telegram-icon {
  margin-left: 16px;
}
/* ==========  / FOOTER  ================================================================== */
